/* css3 buttons */
.button { display: inline-block; padding: 7px 9px; font-size: 12px; line-height:1; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC url('img/css3buttons_backgrounds.png') 0 0 no-repeat; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; -webkit-background-clip: padding-box; border-radius: 2px; outline: none; position: relative; zoom: 1; *display: inline; }
.button.primary { font-weight: bold }
.button:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
.button:active,
.button.active { background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; color: #FFFFFF; text-shadow: none; }
.button:active { top: 1px }
.button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
.button.negative:active,
.button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
.button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 6px 12px; }
.button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; }
.button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-left: none; }
.button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; border-left: none;}
.button.left:active,
.button.middle:active,
.button.right:active { top: 0px }
.button.big { font-size: 16px; padding: 7px 16px; }
.button span.icon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 1px; background-image: url('img/css3buttons_icons.png'); background-repeat: no-repeat; }
.big.button span.icon { top: 0px }
.button span.icon.book { background-position: 0 0 }
.button:hover span.icon.book { background-position: 0 -15px }
.button span.icon.calendar { background-position: 0 -30px }
.button:hover span.icon.calendar { background-position: 0 -45px }
.button span.icon.chat { background-position: 0 -60px }
.button:hover span.icon.chat { background-position: 0 -75px }
.button span.icon.check { background-position: 0 -90px }
.button:hover span.icon.check { background-position: 0 -103px }
.button span.icon.clock { background-position: 0 -116px }
.button:hover span.icon.clock { background-position: 0 -131px }
.button span.icon.cog { background-position: 0 -146px }
.button:hover span.icon.cog { background-position: 0 -161px }
.button span.icon.comment { background-position: 0 -176px }
.button:hover span.icon.comment { background-position: 0 -190px }
.button span.icon.cross { background-position: 0 -204px }
.button:hover span.icon.cross { background-position: 0 -219px }
.button span.icon.downarrow { background-position: 0 -234px }
.button:hover span.icon.downarrow { background-position: 0 -249px }
.button span.icon.fork { background-position: 0 -264px }
.button:hover span.icon.fork { background-position: 0 -279px }
.button span.icon.heart { background-position: 0 -294px }
.button:hover span.icon.heart { background-position: 0 -308px }
.button span.icon.home { background-position: 0 -322px }
.button:hover span.icon.home { background-position: 0 -337px }
.button span.icon.key { background-position: 0 -352px }
.button:hover span.icon.key { background-position: 0 -367px }
.button span.icon.leftarrow { background-position: 0 -382px }
.button:hover span.icon.leftarrow { background-position: 0 -397px }
.button span.icon.lock { background-position: 0 -412px }
.button:hover span.icon.lock { background-position: 0 -427px }
.button span.icon.loop { background-position: 0 -442px }
.button:hover span.icon.loop { background-position: 0 -457px }
.button span.icon.magnifier { background-position: 0 -472px }
.button:hover span.icon.magnifier { background-position: 0 -487px }
.button span.icon.mail { background-position: 0 -502px }
.button:hover span.icon.mail { background-position: 0 -514px }
.button span.icon.move { background-position: 0 -526px }
.button:hover span.icon.move { background-position: 0 -541px }
.button span.icon.pen { background-position: 0 -556px }
.button:hover span.icon.pen { background-position: 0 -571px }
.button span.icon.pin { background-position: 0 -586px }
.button:hover span.icon.pin { background-position: 0 -601px }
.button span.icon.plus { background-position: 0 -616px }
.button:hover span.icon.plus { background-position: 0 -631px }
.button span.icon.reload { background-position: 0 -646px }
.button:hover span.icon.reload { background-position: 0 -660px }
.button span.icon.rightarrow { background-position: 0 -674px }
.button:hover span.icon.rightarrow { background-position: 0 -689px }
.button span.icon.rss { background-position: 0 -704px }
.button:hover span.icon.rss { background-position: 0 -719px }
.button span.icon.tag { background-position: 0 -734px }
.button:hover span.icon.tag { background-position: 0 -749px }
.button span.icon.trash { background-position: 0 -764px }
.button:hover span.icon.trash { background-position: 0 -779px }
.button span.icon.unlock { background-position: 0 -794px }
.button:hover span.icon.unlock { background-position: 0 -809px }
.button span.icon.uparrow { background-position: 0 -824px }
.button:hover span.icon.uparrow { background-position: 0 -839px }
.button span.icon.user { background-position: 0 -854px }
.button:hover span.icon.user { background-position: 0 -869px }

/* reset */
*{padding:0; margin:0; outline:0; color:inherit;}
ul, ol, nav{list-style: none; margin: 0;}

html{
	/* override the boilerplate scroll */
	overflow: hidden;
}

body{
	background: #1B1B1B;;
	height: 100%;
	width: 100%;
}



/* layout */
#w{
	position: absolute;
	top: 30px;
	width: 200px;
	background: url('img/bg.light.png');
	overflow: hidden;
}
#c{
	margin: 0 200px 0 200px;
	overflow-y: auto;
	height: 100%;
	background: url('img/bg.png');
	box-shadow: inset 0 0 3px #000;
	-moz-box-shadow: inset 0 0 3px #000;
	min-width: 600px;
}
#e{
	position: absolute;
	right: 0;
	top: 30px;
	width: 200px;
	overflow: hidden;
}

/* icons */
#frame li .icon.folder{
	background-image: url('img/icons/folder-horizontal.png');
}
#frame li .icon.folder-open{
	background-image: url('img/icons/folder-horizontal-open.png');
}
#frame li .icon.file{
	background-image: url('img/icons/document.png');
}
#frame li .icon.file-error{
	background-image: url('img/icons/document-broken.png');
}
#frame li .icon.delete{
	background-image: url('img/icons/minus-circle.png');
}
#frame li .icon.create{
	background-image: url('img/icons/plus-circle.png');
}

#frame .list .icon{
	display: block;
	width: 16px;
	height: 43px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}
#frame .stack .icon,
#frame .queue .icon{
	display: block;
	width: 16px;
	height: 16px;
	margin: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}

#frame .stack .icon{
	float: right;
}

/* block list */
#frame .loading{
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	text-indent: -10000px;
	z-index: 10;
	background: #fff url('img/ajax-loader.gif') no-repeat center center;
}

#frame #header {
	line-height: 30px;
	width: 100%;
	height: 30px;
	
	background: #444546;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444546', endColorstr='#1E1A1B'); /* for IE */
	background: -moz-linear-gradient(top, #444546, #1E1A1B);
	background: -webkit-gradient(linear, left top, left bottom, from(#444546), to(#1E1A1B));
	background: linear-gradient(top, #444546, #1E1A1B);
}

#frame #path{
	font-size: 14px;
	-webkit-text-shadow: 0 -1px 0 #000;
	-moz-text-shadow: 0 -1px 0 #000;
	text-shadow: 0 -1px 0 #000;
	color: #555;
	font-weight: 600;
	float: left;
	margin-left: 200px;
	padding-left: 10px;
}

#frame #path .slash{
	margin: 0 5px;
	color: #333;
}

#frame #path:before{
	content: '/';
	color: #333;
	margin-right: 5px;
}

#frame #search{
	float: right;
}

/* stack */

#frame .stack{
	margin: 10px;
}

	#frame .stack > li{
		background: #181818;
		float: left;
		margin: 5px;
		display: block;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
		font-size: 9px;
		color: #999;
		width: 138px;

	}
	
	#frame .stack > li.drag{
		background: none;
	}

	/* stack item */
	#frame .stack .visual{
		margin: 5px;
		width: 128px;
		height: 128px;
		overflow: hidden;
		/*
		-moz-border-radius: 3px;
		border-radius: 3px;
		*/
		text-align: center;
	}
	
	#frame .stack .file .visual{
		background: #111;
		-moz-box-shadow: #000 0 1px 3px;
		box-shadow: #000 0 1px 3px;
	}
	
	#frame .stack .file .visual img{
		display: block;
		width: 128px;
		height: 128px;
		margin: auto;
	}
	
	#frame .stack .name{
		text-decoration: none;
		color: #fff;
		text-shadow: #000 0 1px 2px;
		font-size: 11px;
	}
	
	#frame .stack .folder .visual{
		background: url('img/icons/stack-folder.png') no-repeat center center;
	}
	#frame .stack .folder .name{
		font-weight: 600;
	}
	
	#frame .stack > li > *{
		margin: auto;
		text-align: center;
	}
	
	#frame .stack .details li{
		line-height: 15px;
	}

/* vertical list */
#frame h3{
	background: url('img/bg.mesh.png');
	display: block;
	padding: 0 10px;
	line-height: 35px;
	height: 35px; /* for ie */
	position: relative;
	color: #E6E6E6;
	text-shadow: #222 0 -1px 0px;
	font-weight: 600;
	text-transform: uppercase;
	/*width: 190px;*/
}
/*
#frame h3:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid #494949;
	border-right: 10px solid transparent;
	right: 0;
}
*/
/* vertical list */
#frame .list{
	position: absolute;
	width: 200px;
}
#frame .list > li{
	background: #777 url('img/bg.list.item.png') repeat-x;
}
#frame .list > li .folder{
	font-weight: 600;
	text-shadow: #333 1px 1px 0;
}
#frame .list > li:hover{
	background-image: url('img/bg.list.item.hover.png');
}
#frame .list > li > *{
	font-size: 14px;
	color: #E6E6E6;
	text-decoration: none;
	display: block;
	line-height: 44px;
	padding: 0 10px;
}

/* panes and pane lists */
#frame .pane > div{
	position: absolute;
	width: 200px; /* width of right column */
	z-index: 1;
	height:100%;
}

#pane-download{
	margin-left: 0px; /* increment each pane n * width (275px) */
}

#pane-upload{
	margin-left: 200px;
}

#pane-download.dropactive{
	background: #fff;
}
#pane-download.drophover{
	background: #000;
}

#frame .queue > li{
	background: url('img/bg.mesh.png');
	font-size: 12px;
	color: #E6E6E6;
	text-decoration: none;
	display: block;
	border-top: 1px solid #444;
	border-bottom: 1px solid #222;
	overflow: hidden;
	line-height: 32px;
}

#frame .queue > li .controls{
	float: right;
}

/* uploader */
.file_upload {
	width: 100px;
  position: relative;
  overflow: hidden;
  direction: ltr;
  cursor: pointer;
	line-height: 26px;
	text-align: center;
	float: left;
	
	color: #3C3C3D; 
	text-shadow: 1px 1px 0 #FFFFFF; 
	background: #ECECEC url('img/css3buttons_backgrounds.png') 0 0 no-repeat; 
	white-space: nowrap; 
	cursor: pointer; 
	text-decoration: none; 
	border: 1px solid #CACACA; 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	-webkit-background-clip: padding-box; 
	border-radius: 2px; 
	outline: none; 
	zoom: 1;
	-webkit-border-bottom-right-radius: 0px; 
	-webkit-border-top-right-radius: 0px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-topright: 0px; 
	border-bottom-right-radius: 0px; 
	border-top-right-radius: 0px; 
	margin-right: 0px;
}

.file_upload:hover { 
	color: #FFFFFF; 
	border-color: #388AD4; 
	text-decoration: none; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
	background-position: 0 -40px; 
	background-color: #2D7DC5; 
}

.file_upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 300px solid transparent;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  filter: alpha(opacity=0);
  -o-transform: translate(-300px, -300px) scale(10);
  -moz-transform: translate(-800px, 0) scale(10);
  cursor: pointer;
}

.file_upload iframe, .file_upload button {
  display: none;
}

.file_upload_preview img {
  width: 80px;
}

.file_upload_progress .ui-progressbar-value {
  background: url('img/pbar-ani.gif');
}

.file_upload_progress div {
  width: 150px;
  height: 15px;
}

.file_upload_cancel button {
  cursor: pointer;
}

/* jQuery UI */
.ui-inline-dialog {
	background: url(img/tab.png) no-repeat top center;
	padding-top: 10px;
}

.ui-inline-dialog-container {
	position: relative;
	background: #333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222'); /* for IE */
	background: -moz-linear-gradient(top, #333, #222);
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
	background: linear-gradient(top, #333, #222);
	border: 1px solid #111;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 1px 0 #555;
	-webkit-box-shadow: inset 0 1px 0 #555;
	box-shadow: inset 0 1px 0 #555;
	padding: 5px;
}
.ui-inline-dialog-content {
	background: #111;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#222222'); /* for IE */
  background: -moz-linear-gradient(top, #111, #222);
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#222));
  background: linear-gradient(top, #111, #222);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #111, 0 1px 0 #555;
	-webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #555;
	box-shadow: inset 0 1px 2px #000, 0 1px 0 #555;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.ui-inline-dialog-content input{
	padding: 10px !important;
	background: none;
	border: 0 !important;
	color: #fff;
}

.ui-inline-dialog-buttonpane {
	padding-top: 5px;
	background: none;
	border: 0;
	text-align: right;
  white-space: nowrap;
}



/* gritter */ 
	/* ie6 trash */
* html #gritter-notice-wrapper {
	position:absolute; 
}
* html .gritter-top {
	margin-bottom:-10px;
}
* html .gritter-item {
	padding-bottom:0;
}
* html .gritter-bottom {
	margin-bottom:0;
}
* html .gritter-close {
	background:url('img/gritter-close-ie6.gif');
	width:22px;
	height:22px;
	top:7px;
	left:7px;
}

/* the norm */
#gritter-notice-wrapper {
	position:fixed;
	top:20px;
	right:20px;
	width:301px;
	z-index:9999;
}
.gritter-item-wrapper {
	position:relative;
	margin:0 0 10px 0;
	background:url('.'); /* ie7/8 fix */ 
}
.gritter-top {
	background:url('img/gritter.png') no-repeat left -30px;
	height:10px;
}
.hover .gritter-top {
	background-position:right -30px;
}
.gritter-bottom {
	background:url('img/gritter.png') no-repeat left bottom;
	height:8px;
	margin:0;
}
.hover .gritter-bottom {
	background-position: bottom right;
}
.gritter-item {
	display:block;
	background:url('img/gritter.png') no-repeat left -40px;
	color:#eee;
	padding:2px 11px 8px 11px;
	font-size: 11px;
	font-family:verdana;
}
.hover .gritter-item {
	background-position:right -40px;
}
.gritter-item p {
	padding:0;
	margin:0;
}
.gritter-close {
	position:absolute;
	top:5px;
	left:3px;
	background:url('img/gritter.png') no-repeat left top;
	cursor:pointer;
	width:30px;
	height:30px;
}
.gritter-title {
	font-size:14px;
	font-weight:bold;
	padding:0 0 7px 0;
	display:block;
	text-shadow:1px 1px #000; /* Not supported by IE :( */
}
.gritter-image {
	width:48px;
	height:48px;
	float:left;
}
.gritter-with-image,
.gritter-without-image {
	padding:0 0 5px 0;
}
.gritter-with-image {
	width:220px;
	float:right;
}
